html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

input {
    font-family: inherit;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    color: gray;
    width: 500px;
}

.container {
    text-align: center;
}

#list {
    font-size: 20px;
    text-align: center;
}